nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 3px 2px 3px #ccc;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

nav .icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.6rem;
    font-size: 20px;
}

nav form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}

nav form .search {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

nav form .search-icon {
    display: none;
}

nav form input {
    border-radius: 50px;
    outline: none;
    padding: 3px 7px;
}

.menu-icon {
    font-size: 20px;
    cursor: pointer;
}

.menu-items {
    width: 200px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    right: 20px;
    background: #fff;
    box-shadow: 0 0 4px #ccc;
    opacity: 1;
    transition: .5s;
}

.menu-items.hidden {
    opacity: 0;
    top: 60px;
}
.menu-items ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.menu-items ul li {
    margin-bottom: 10px;
}

.menu-items ul li a {
    color: #000;
    text-transform: uppercase;
}

.menu-items .search-icon {
    display: block;
    background: #f7f7f7;
    width: 200px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
