nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 3px 2px 3px #ccc;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}